{
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
